<!--featured img on login page-->

{{#if notLoggedIn}}
<section class="featured-img">
  <img src="/images/{{userPost}}" alt="{{userPost.description}}">
  <div class="featured-img-details">
    <p>{{username}}</p>
  </div>
</section>
{{else}}
{{!-- redirect to MAIN; does handlebars let us use meta tag for refresh? --}}
{{/if}}