<div>
    <div>
        <h1> FlyGuys Profiles </h1>
    </div>
    {{#each posts as |profile| }}
    <div>
        <h2>{{profiles.username}}</h2>
        <p>
            {{profile.socialmedia}}
            {{profile.postcount}}

            {{profile.posthistory}}
        </p>
    </div>
    {{/each}}
</div>
