 <article class="card">
 <div class="card-header flex-row justify-space-between">
      <img src="{{meetup.image}}" max-width="350px" height="auto" class="card-img-top" alt="...">
      <h2>{{meetup.title}}</h2>
       <span><h3>{{meetup.location}}></h3></span>
       <span><p class="card-text">{{meetup.description}}</p></span>
    </div>
  </article>