 <article class="card">
 <div class="card-header flex-row justify-space-between">
      <h2>{{meetup.title}}</h2>
       <span>{{meetup.location}}</span>
       <span>{{meetup.image}}</span>
       <span>{{meetup.description}}</span>
    </div>
  </article>