{{title}}

<article class="card">
    <div class="card-header flex-row justify-space-between">
        <h2>{{username}}</h2>
        {{!-- <span></span> --}}
        <span>{{userPost.tags}}</span>
    </div>
</article>