<div class="newMeetup">
    <div class="newMeetup-header"> <h2>Meetups</h2> </div>
    <div>
        <p> Grab your drone and join the community at a meetups!</p>
        <form id="newMeetupForm" action="/action_page.php">
            <label for="title"> Title: </label>
            <textarea id="title" name="titleTextarea" rows="1"></textarea>

            <label for="location"> Location:</label>
            <textarea id="location" name="locationTextarea" rows="1"></textarea>

            <label for="description"> Description:</label>
            <textarea id="description" name="descriptionText" rows="3"></textarea>

            <button type="button" id="submitbtn"> Submit Event! </button> 
        </form>
    </div>
</div>