<div class="newPost">
    <div class="newPost-header">
        <h2>Drone Post:</h2>
    </div>
    <div>
        <form id="newPostForm" action="/action_page.php">
            <label for="title"> Title: </label>
            <textarea id="title" name="titleTextarea" rows="1"></textarea>

            <input type="file" id="filePost" name="newPostFile">

            <label for="droneModel"> Drone Model:</label>
            <textarea id="title" name="droneModelTextarea" rows="1"></textarea>

            <label for="description"> Description:</label>
            <textarea id="description" name="descriptionText" rows="3"></textarea>

            <label for="tags">Tags:</label>
            <textarea id="text" name="tagText"></textarea>
            <button type="button" id="submitbtn"> Submit Post! </button> 
        </form>
    </div>
</div>

<script src="/js/newpost.js"></script>