<div>
    <div><h2>Drone Post:</h2></div>
    <div>
        <form action="/action_page.php">
          <label> Title: </label> 
          <input type="text">
          <input type="file" id="filePost" name="filePost">
          <label> Drone Model:</label> 
          <input type="text">
          <label>Post Details:</label>
          <textarea rows="3"></textarea>
          <label>Tags:</label>  
          <input type="text">
          <input type="Submit">
        </form>
    </div>

</div>

