   
 <div class="card">
        <div class="card-header">
            <h2>Drone Post:</h2>
        </div>
        <form id="newPostForm" class="card-body">
           <label class="form-label" for="typeOfDrone">Type of Drone</label>
           <input type="text" name="typeOfDrone" class="form-input" />

           <label class="form-label" for="tags">Tags</label>
           <input type="text" name="tags" class="form-input" />

            <label class="form-label" for="description">Description</label>
           <textarea name="description" class="form-input"></textarea>

            <button type="submit" class="btn"> Create Post! </button> 
        </form>
  
</div>

<script src="/js/newpost.js"></script>