<div class="create-profile">
    <div id="create-profile-header">
        <h2>Create Your Profile</h2>
    </div>

    <div id="username">
        {{username}}
    </div>

    <div>
        <form id="social-media-form">
            <label for="social-media"> Social Media:</label>
            <textarea id="social-media" name="social-media-text"></textarea>
            <button type="button" id="create-profile-btn">Submit</button>
        </form>
    </div>
</div>

<script src="./newprofile.js"></script>