<section class="profile">
    <div class="profile-header"><h2>{{username}}'s Profile</h2></div>
    <article>
        <p>Location: {{location}}</p>
        <p> {{user-bio}}</p>
        <p>Social: {{social-links}}</p>
    </article>
</section>