<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Click Here To Signup!
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Sign Up!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="signup-form">
           
            <div>
                <label for="email-signup">Email:</label>    
                <input type="text" id="email-signup" />
            </div>
            <div>
                <label for="password-signup" class="form-label">Password:</label>
                <input type="password" id="password-signup" />
            </div>   
            <div>
                <label for="username-signup" class="form-label">Username:</label>
                <input type="text" id="username-signup" />
            </div>   
      </div>
      <div class="modal-footer">
        <button type="submit" id="login-btn "class="btn btn-primary">Sign up!</button>
        <button type="button" href="/login" class="btn btn-primary">Login</button>
        <script src="/js/signup.js"></script>
         </form>
      </div>
    </div>
  </div>
</div>
