.logoGIFstill,
.logoGIF {
  display: table-cell;
  vertical-align: middle;
  align-items: center;
}

.logoGIFstill {
  position: absolute;
  background: #f0f4f6;
}

.logoGIFstill:hover {
  opacity: 0;
}

* {
  margin: 0;
  padding: auto;
  box-sizing: border-box;
}

.card {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card-body {
  height: 45rem;
  width: 35rem;
  margin: 1rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.card-body:hover .image {
  transform: scale(1.2);
}
