html, body {
    height: 100%;
    background-color: #003049;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
  }
  .navbar{
    margin-bottom: 30px;
  }

  .row{
    flex-direction: row;
    justify-content: space-evenly;
  }
  .recipes{
    color: whitesmoke;
    padding: 20px;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    text-shadow: 2px 2px 3px rgb(8, 8, 8);
}
  .card{
    /* justify-content: space-between; */
    background-color: whitesmoke;
    margin: 10px;
   
  }
  a:link { text-decoration: none; }
  .profile{
   color: whitesmoke;
   text-decoration-line: none;
   text-decoration-color: whitesmoke;
   
  }
  .edit{
    box-sizing: 500px;
    background-color: whitesmoke;
    border-radius: 40px;
  }
  