
 html, body {
   height: 100%;
   background-color: #f0f4f6;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
 } 

.logoGIF {
  flex-wrap: wrap;
}

a:hover {
  color: #780000;
  font-style: italic;
}

