.logoGIFstill,
.logoGIF {
  display: table-cell;
  vertical-align: middle;
  align-items: center;
}

.logoGIFstill {
  position: absolute;
  background: #003049;
}
.logoGIFstill:hover {
    opacity: 0;
}
